@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Comfortaa", cursive;
  @apply bg-dark-2;
}
body * {
  @apply select-none;
}
div {
  @apply transition-colors duration-150;
}
.App {
  @apply container flex flex-nowrap mx-auto
    /* rounded-md just for test...  remove this later pls */
    /* sm:rounded-md */
    pr-1;
}
H1,
H2,
H3,
H4,
H5,
H6 {
  @apply w-full block;
}
main {
  @apply pl-1.5 max-h-screen min-h-screen overflow-y-scroll w-full;
}
.page {
  @apply pt-4 sm:pt-9;
}

h2 {
  @apply block w-full font-bold text-2xl;
}

/* create blog button (in home page) */
.Home {
  @apply relative;
}
.Home .float-btn {
  @apply w-10 h-10
   sm:w-12  sm:h-12 

    top-[100vh]
    -translate-y-12 
    -translate-x-10 

    sm:-translate-y-16
    lg:-translate-y-20

    sm:-translate-x-16 
    md:-translate-x-20   
    lg:-translate-x-32   
    xl:-translate-x-40  
    p-0.5
    rounded-full fixed z-50;
}
.Home .float-btn svg {
  @apply w-full h-full;
}

/* ==== scrollbar design ==== */
/* Firefox */

main {
  --secondary: #353033;
}
.dark main {
  --secondary: #353033;
}
main {
  --primary: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
/* Chrome, Edge, and Safari */
main::-webkit-scrollbar {
  @apply w-1 sm:w-1.5;
}

main::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}
main::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0px;
  border: 3px solid var(--primary);
}
/* ==== end scrollbar design ==== */

/* theme colors */
.base {
  @apply bg-light-light-1;
}
main a {
  @apply text-dark-light-2 hover:text-dark-light-1;
}
.float-btn {
  @apply text-opacity-80 bg-opacity-80 bg-dark-dark-2 hover:bg-opacity-60 text-light-light-1 hover:text-light-light-2;
}

/* dark mode */
.dark.base {
  @apply bg-dark-dark-2 text-light-light-1;
}
.dark .float-btn {
  @apply bg-opacity-60 bg-light-light-1 hover:bg-opacity-50 text-dark-dark-1 hover:text-dark-light-1;
}

.dark main a {
  @apply text-light-dark-1 hover:text-dark-light-1;
}
