@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Comfortaa", cursive;
  @apply bg-dark-2;
}
body * {
  @apply select-none;
}

.App {
  @apply container flex flex-nowrap mx-auto
    /* rounded-md just for test...  remove this later pls */
    /* sm:rounded-md */
    pr-1;
}
H1,
H2,
H3,
H4,
H5,
H6 {
  @apply w-full block;
}
main {
  @apply pl-1.5 max-h-screen min-h-screen overflow-y-scroll w-full;
}

h2 {
  @apply block w-full font-bold text-2xl;
}

/* ==== scrollbar design ==== */
/* Firefox */

main {
  --secondary: #2a2f4f;
}
.dark main {
  --secondary: #393053;
}
main {
  --primary: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
/* Chrome, Edge, and Safari */
main::-webkit-scrollbar {
  @apply w-1 sm:w-1.5;
}

main::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}
main::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0px;
  border: 3px solid var(--primary);
}
/* ==== end scrollbar design ==== */

/* theme colors */
.base {
  @apply bg-light-light-1;
}
main a {
  @apply text-light-dark-2 hover:text-dark-light-1;
}

/* dark mode */
.dark.base {
  @apply bg-dark-dark-2 text-light-light-1;
}

.dark main a {
  @apply text-light-dark-1 hover:text-dark-light-1;
}
