.sign-in-up {
  @apply max-w-md
  mx-auto
  pt-2
  
  sm:flex
  sm:flex-wrap
  sm:content-center;
}
.sign-in-up h2 {
  @apply pt-9 sm:pt-20;
}
.sign-in-up form {
  @apply w-full pt-5;
}
.sign-in-up .page-title {
  @apply text-center;
}

.sign-in-up .input {
  @apply flex  
    relative
    w-full
    mb-5;
}
.sign-in-up .input .show-passwrd {
  @apply w-10 h-10 hover:cursor-pointer
    absolute flex items-center justify-center
    hover:opacity-70 
    right-0;
}
.sign-in-up .input .show-passwrd svg {
  @apply w-7 h-7
     pointer-events-auto;
}
.sign-in-up textarea {
  @apply min-h-[180px];
}

.sign-in-up input,
.sign-in-up textarea {
  @apply bg-transparent
    text-xl
    py-1.5 px-2
    w-full
    /*uncomment next line pls  */
    /* bg-transparent */
    appearance-none 
    border-none
    outline-none 
    pointer-events-auto;
}
.sign-in-up .names-input {
  @apply sm:flex sm:flex-nowrap sm:gap-x-2;
}
.sign-in-up .names-input .input {
  @apply sm:w-1/2;
}

.sign-in-up .btns {
  @apply flex justify-between items-center flex-row-reverse;
}
.btn {
  @apply px-3 py-1;
}
.sign-in-up .btns a {
  @apply font-bold px-1;
}
.sign-in-up p.nhost-msg {
  @apply py-4 max-w-md;
}
.sign-in-up p.error {
  @apply absolute py-4 max-w-md;
}

/* === --- themes --- === */
.sign-in-up input,
.sign-in-up textarea {
  @apply text-light-dark-2 bg-light-dark-1/20
    focus:bg-light-dark-1/40 
    placeholder:text-light-dark-2/60
    disabled:bg-opacity-75;
}
.sign-in-up .input.error {
  -webkit-box-shadow: inset 0px -21px 0px -17px rgba(255, 0, 0, 0.32);
  box-shadow: inset 0px -21px 0px -17px rgba(255, 0, 0, 0.32);
}
.btn {
  @apply bg-light-dark-2 text-light-light-1 hover:bg-light-dark-2/70;
}

.sign-in-up p.error {
  @apply text-light-red;
}
/* dark */
.dark .btn {
  @apply hover:bg-dark-light-1;
}
.dark .sign-in-up input,
.dark .sign-in-up textarea {
  @apply text-light-light-1 placeholder:text-light-light-2/50;
}

/* === -- REMOVE AUTOFILL CHANGES -- === */

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  transition: all 9999s ease-in-out 0s;
}
input:autofill {
  filter: none !important;
}

/* input:-webkit-autofill {
  -webkit-text-fill-color: yellow !important;
} */
