.profile{
  @apply py-1 
}


.user {
  @apply mx-auto 
    sm:max-w-lg
    lg:max-w-xl
    p-2
    m-1
    bg-dark-light-1/10
}

.user-basic-data {
  @apply flex
}
.user-names{
  @apply font-bold
    grid content-around
    pl-2
    max-w-[150px]
    sm:max-w-[300px]
    md:max-w-[500px]
}
.user-basic-data .user-img{
  @apply w-14 h-14 
    sm:w-16 sm:h-16
    md:w-20 md:h-20
    
    rounded-full
    overflow-hidden
}
.user-basic-data .user-real-name{
  @apply 
    text-lg
    md:text-2xl
    truncate
}
.user-basic-data .username{
  @apply 
    text-base
    md:text-lg
    truncate
}



.user-summary {
  @apply p-2 pb-2
    mt-2
    text-sm
    md:text-base
    border-t-2
    border-t-dark-light-2/60
}




.user .profile-btns{
  @apply flex 
    justify-between
    p-2
    pb-0
    border-t-2
    border-t-dark-light-2/60

}





.user-navlinks{
  @apply grid grid-cols-3 justify-stretch
}
.user-navlinks a{
  @apply text-center
    border-b-2 border-b-transparent
}



/* theme */
.user-navlinks a.active{
  @apply border-b-dark-light-2/50
}

.user .user-names .username{
  @apply text-dark-light-2
}

.user .user-summary{
  @apply text-dark-2
}



/* dark mode */
.dark .user .user-names .username{
  @apply text-light-dark-1
}


.dark .user .user-summary{
  @apply text-white/70
}


